body{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 30px;
    padding: 5px;
    background-color: aquamarine;
}
.header{
    background-color: blue;
    color: white;
    
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    color: red;
}

.container{
    padding: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

.pic{
    padding: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 250px;
    height: 240px;
    position: relative;
}

.item{
    font-size: 1.5rem;
}

input{
    font-size: 2rem;
}

select{
    font-size: 2rem;
}

.button button{
    font-size: 1.0em;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    background-color:lawngreen;
}

.button{
    margin: 20px;
    
}

button:hover{
    cursor: pointer;
    color: white;
}

